[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
praw = "*"

[dev-packages]
pylint = "*"
pyreadline = "*"

[requires]
python_version = "3.6"
